.btn-submit,
select,
input,
textarea {
	padding: 1rem;
	border: 1px solid var(--color-secondary);
	border-radius: 0.5rem;
	color: var(--color-secondary);
	outline: transparent;
}
.btn-submit {
	background-color: transparent;
	transition: all 0.7s;
	&:hover,
	&:active {
		background-color: var(--color-success);
		color: var(--color-primary);
		border-color: var(--color-success);
	}
}

.select {
	background: var(--color-primary);
	border-radius: 0.5rem;
	outline: transparent;
	opacity: 1;
}
.select * {
	background-color: var(--color-primary);
}

.input {
	background-color: var(--color-primary);
}
@media (max-width: 768px) {
	/* .btn-submit:active {
		background-color: var(--color-success);
		color: var(--color-primary);
		border-color: var(--color-success);
	} */
}
