/* -------RESET STYLES-----------*/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Murecho:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&display=swap');
@import '../css/variables.css';

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}
html {
	/* 6.25 */
	font-size: 62.5%;

	scroll-behavior: smooth;
}

html,
body {
	overflow-x: hidden;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	color: var(--color-secondary);
	font-size: 1.6rem;
	line-height: 1.5;
	font-family: 'Murecho', serif;
	font-optical-sizing: auto;
	font-style: normal;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}
a {
	color: var(--color-secondary);
}

a:active {
	-webkit-tap-highlight-color: transparent !important;
	outline: none !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}
@media (min-width: 1601px) {
	html {
		font-size: 75%;
	}
}
@media (max-width: 1280px) {
	html {
		font-size: 56.25%;
	}
}
@media (max-width: 1024px) {
	html {
	}
}

@media (max-width: 992px) {
}
